<?xml version="1.0"?>
<launch>

    <!-- Define parameters -->
    <arg name="camera_name" default="YOUR_CAMERA_NAME" />
    <arg name="image_topic" default="YOUR_IMAGE_TOPIC" />

    <node name="apriltag_broadcaster" pkg="apriltag_broadcaster" type="apriltag_broadcaster_node" output="screen">
        <rosparam command="load" file="$(find apriltag_broadcaster)/config/config.yaml" />
    </node>

    <!-- Apriltag group --> 
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
        <arg name="camera_name" value="$(arg camera_name)" /> 
        <arg name="image_topic" value="$(arg image_topic)"/>
    </include>

</launch>